<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="yw.basket.mapper.IBoardMapper">


	<!--<select> 태그를 이용하여 select 쿼리임을 나타냄. 앞서 mapper에서 말했던 메소드의 이름은 select 쿼리의 id값과 같아야함.-->
	<select id="selectBoardList" resultType="BoardDTO">
		SELECT TB.BOARD_SEQ
			 , TB.BOARD_TITLE
			 , TB.BOARD_REG_DATE
			 , TB.BOARD_REG_SEQ
			 , TU.USER_NAME
		FROM TB_BOARD AS TB
  INNER JOIN TB_USER AS TU
		  ON TU.USER_SEQ = TB.BOARD_REG_SEQ
    ORDER BY TB.BOARD_SEQ DESC

	</select>

	<insert id="insertBoard" parameterType="BoardDTO">

		INSERT
		INTO
			TB_BOARD
		(
			BOARD_TITLE
		,   BOARD_CONTENTS
		,   BOARD_REG_SEQ
		,   BOARD_REG_DATE
		)
		VALUES
	    (
			    #{boardTitle}
			  , #{boardContents}
			  , #{boardRegSeq}
			  , NOW()
	    )
	</insert>


	<select id="selectBoardDetail" parameterType="BoardDTO" resultType="BoardDTO">

		SELECT
		      BOARD_SEQ
			 ,BOARD_TITLE
			 ,BOARD_CONTENTS
			 ,BOARD_REG_SEQ
			 ,BOARD_REG_DATE
		FROM
			TB_BOARD
		WHERE
			BOARD_SEQ = #{boardSeq}

	</select>

	<update id="boardUpdate" parameterType="BoardDTO">

		UPDATE
			TB_BOARD
		SET
			 BOARD_SEQ = #{boardSeq}
			,BOARD_TITLE =  #{boardTitle}
			,BOARD_CONTENTS = #{boardContents}
			,BOARD_REG_SEQ = #{boardRegSeq}
			,BOARD_MDF_DATE = NOW()
		WHERE
			BOARD_SEQ = #{boardSeq}


	</update>

	<delete id="boardDelete" parameterType="BoardDTO">

		DELETE

		FROM
		TB_BOARD
		WHERE
		BOARD_SEQ = #{boardSeq}

	</delete>



</mapper>