<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="yw.basket.mapper.IRequestMapper">

    <insert id="matchReqSave" parameterType="RequestDTO">
        INSERT
        INTO
            TB_REQUEST
        (
           REQ_USER_SEQ
          ,REQ_MATCH_SEQ
          ,REQ_STATUS
        )
        VALUES
            (
                #{reqUserSeq}
               ,#{reqMatchSeq}
               ,'Y'
            )
    </insert>

    <update id="matchReqCncSave" parameterType="RequestDTO">
        UPDATE  TB_REQUEST
        SET     REQ_STATUS = 'N'
        WHERE   REQ_SEQ = #{reqSeq}
    </update>

</mapper>