<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="yw.basket.mapper.IUserMapper">
    <!--회원정보 등록 -->
    <insert id="insertUserInfo" parameterType="UserDTO">
        INSERT
          INTO TB_USER
        (
          USER_LOGIN
        , USER_ID
        , USER_PW
        , USER_NAME
        , USER_EMAIL
        , USER_LEVEL
        , USER_AGE
        , USER_GENDER
        , USER_NICKNAME
        , USER_STATUS
        , JOIN_DT
        , USER_PW_NEW
        , USER_PLAYER
        )
        VALUES
        (
          1
        , #{userId}
        , #{userPw}
        , #{userName}
        , #{userEmail}
        , #{userLevel}
        , #{userAge}
        , #{userGender}
        , #{userNickname}
        , 'Y'
        , NOW()
        , #{userPwNew}
        , #{userPlayer}
        )

    </insert>
<!--수정-->
    <select id="loginProc" resultType="UserDTO">
        SELECT USER_SEQ
              ,USER_ID
              ,USER_NAME
          FROM TB_USER
         WHERE USER_ID = #{userId}
           AND USER_PW = #{userPw}
           AND USER_STATUS = 'Y'
    </select>

    <!--<select id="loginCheck" parameterType="UserDTO" resultType="int">
        SELECT COUNT(*)
          FROM TB_USER
         WHERE USER_ID = #{userId}
           AND USER_PW = #{userPw}
    </select>-->

    <select id="getUserInfo" resultType="UserDTO" parameterType="UserDTO">
        SELECT
            USER_NAME,
            USER_EMAIL,
            USER_NICKNAME,
            USER_GENDER,
            USER_LEVEL,
            USER_PLAYER
        FROM TB_USER
        WHERE USER_SEQ = #{userSeq}
    </select>

    <!--회원정보 수정 -->
    <update id="memberModifySave" parameterType="UserDTO">
        UPDATE
            TB_USER
        SET
              USER_NAME = #{userName}
            , USER_EMAIL = #{userEmail}
            , USER_NICKNAME = #{userNickname}
            , USER_GENDER = #{userGender}
            , USER_LEVEL = #{userLevel}
            , USER_PLAYER = #{userPlayer}
        WHERE USER_SEQ = #{userSeq}


    </update>

    <update id="updatePwSave" parameterType="UserDTO">
        UPDATE
            TB_USER
        SET
            USER_PW = #{userPwNew}
        WHERE USER_SEQ = #{userSeq}

    </update>

    <select id="idCheck" resultType="int">
        SELECT COUNT(*)
        FROM
             TB_USER
        WHERE
              USER_ID = #{userId}

    </select>

    <!--회원탈퇴 -->
    <update id="memberOut" parameterType="UserDTO">
        UPDATE
            TB_USER
        SET
         USER_STATUS = 'N'
        WHERE USER_SEQ = #{userSeq}

    </update>

    <!-- -->
    <select id="emailCheck" resultType="int">
        SELECT COUNT(*)
        FROM
            TB_USER
        WHERE
            USER_ID = #{userId}
            AND
            USER_EMAIL = #{userEmail}
    </select>

    <update id="updateOncePw" parameterType="UserDTO">
        UPDATE
            TB_USER
        SET
            USER_PW = #{userPwNew}
        WHERE USER_ID = #{userId}

    </update>

</mapper>